body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #121213;
    color: white;
    font-family: Arial, sans-serif;
    font-family: Arial, sans-serif;
}



.player_body {
    position: fixed;
    left: 10%;
}

.bot_body {
    position: fixed;
    right: 10%;
    margin-bottom: 184px;
}

.end_button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    opacity: 0.8;
}

.restart_button {
    z-index: 9;
    position: absolute;
    top: 5%;
}

.end_button:hover {
    background-color: #444;
}


.key.wrong_letter {
    background-color: #d9534f;
    /* Red for wrong letters */
}

.key.correct {
    background-color: green;
    /* Green for correct letters */
}

.key.yellow_letter {
    background-color: #bfac2e;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grid {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

.row {
    display: flex;
    gap: 10px;
}

.cell {
    width: 50px;
    height: 50px;
    border: 2px solid #3a3a3c;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    direction: rtl;
    /* Ensure text is right-to-left */
}


.cell.yellow_letter {
    background-color: #bfac2e;
    color: white;
    /* Ensure the text is visible on the green background */
}

.cell.correct {
    background-color: green;
    color: white;
    /* Ensure the text is visible on the green background */
}

.cell.wrong_letter {
    background-color: gray;

    color: white;

}

.keyboard {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
}


.keyboard-row {
    display: flex;
    gap: 10px;

    justify-content: center;
    /* Center the keyboard rows */
}

.key {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #818384;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    flex: 1;
    z-index: 1000;

    max-width: 50px;
    text-align: center;
    /* Center text within the button */

}

.key.special {
    flex: initial;
    /* Remove the flex property to allow dynamic sizing */
    padding: 10px 20px;
    /* Increase padding to make buttons wider */
    max-width: none;
    z-index: 1000;
    /* Remove max-width limit */
}

.key:active {
    background-color: #565758;
    z-index: 1000;
}

.warning {
    background-color: rgba(255, 98, 0, 0.889);
    padding-top: 5%;
    padding-bottom: 5%;
    padding-right: 10%;
    padding-left: 10%;
    position: absolute;
    text-align: center;
    z-index: 10;
    margin-inline: auto;
    font-size: larger;
    opacity: 0;
}

.success {
    background-color: rgba(0, 255, 0, 0.89);
    padding-top: 100%;
    padding-bottom: 100%;
    padding-right: 100%;
    padding-left: 100%;
    position: absolute;
    text-align: center;
    z-index: 10;
    margin-inline: auto;
    font-size: 50px;
    margin: 100%;

    text-wrap: nowrap;

    opacity: 0;
}

html {
    overflow-x: hidden;

    overflow-y: hidden;
}